*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: oblique;
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-left: 60px;
}


header{
   background-image: url(img/fundo-services.jpg);
   height: 100vh
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.navbar{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 60px;
}


.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px 30px 0px 30px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width:700px) {
    .hamburguer{
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        left: -100%;
        top: 45px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
      
        
    }

    .nav-item{
        margin: 10px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

.banner{
    margin: 0 auto;
    padding: 7rem 0;
}


.textos-banner{
    width: 320px;
    height: 280px;
    justify-content: center;
    margin: 20px 0px 0px 70px;
}


.titulo-banner{
    color: rgb(165, 126, 94); 
    font-size: 40px;
}

.textos-banner p{
    font-size: 25px;
    margin: 15px 0;
    color: white;
}

.inner-headings{
    margin-top: 3px;
    border: 0px solid white;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    text-transform: uppercase;
    overflow: hidden;
}

.inner-headings span{
    position: relative;
    color: rgb(255, 230, 0);
    animation: animation 10s ease infinite;
}

@keyframes animation{
    0%,
    100%{
        top:0;
    }
    20%{
        top:0;
    }
    25%{
        top: -50px;
    }
    45%{
        top: -50px;
    }
    50%{
        top: -100px;
    }
    70%{
        top: -100px;
    }
    75%{
        top: -150px;
    }
    90%{
        top: -150px;
    }
}


.button-agendar{
    padding: 2px 8px;
    margin-top: 2.5rem;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-size: 23px;
    background-color: rgb(223, 223, 223);
    cursor: pointer;
    height: 45px;
    
    outline: 0;
    text-align: center;
    width: 220px;
}

.button-agendar:hover{
    background-color: rgb(66, 66, 66);
    color:white
}

@media screen and (max-width:450px) {


    .logo{
        margin-left: 45px;
    }


    .textos-banner{
        width: 280px;
        margin: 20px 0px 0px 45px;
    }

    .titulo-banner{
        font-size: 35px;
    }

    .inner-headings{
        font-size: 30px;
    }
}



@media screen and (max-width:350px) {


    .logo{
        margin-left: 30px;
    }

    .button-agendar{
        width: 200px;
        font-size: 20px;
    }

    .textos-banner{
        width: 250px;
        margin: 20px 0px 0px 30px;
    }

    .titulo-banner{
        font-size: 30px;
    }

    .textos-banner p{
        font-size: 20px;
    }

    .inner-headings{
        font-size: 30px;
    }
}


.flex-container{
    background-color: rgb(150, 82, 0);
    opacity: 0,5;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-end;
    padding: 3rem;
    
}


#sobre{
    width: 410px;
    text-align:center;
    color: rgb(255, 255, 255);
    padding: 2rem;
}

#sobre h1{
    font-size: 40px;
}

#sobre p{
    font-size: 20px;
    padding-top: 1rem;
}

.fa-brands{
    padding: 15px 7px;
    font-size: 21px;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 390px) {
    .flex-container{
        padding: 1rem 0;
    }

    .sobre{
        
        padding: 1rem 0;
    }

}

.cabecalho-services{
    text-align: center;
    margin-top: 3rem;
    color: rgb(165, 126, 94);
}

.container-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.card{
    width: 310px;
    text-align: center;
    justify-content: center;
    margin: 3rem 3rem;
    height: 450px;
    box-sizing: border-box;
    border-color: rgb(153, 153, 153);
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
    box-shadow: 5px 5px 9px 5px#b6b6b6;
}

.card h2{
    font-size: 30px;
    font-weight: bold;
    padding: 1rem;
}

.prod-descricao{
    font-size: 18px;
    margin: 1rem;
}

.prod-preco{
    font-size: 22px;
    font-weight: bold;
    margin:2rem 0;

}

.card:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1217px) {
    .card{
        width: 310px;
        text-align: center;
        justify-content: center;
        margin: 3rem 2rem;
        height: 450px;
        box-sizing: border-box;
        border-color: rgb(153, 153, 153);
        border-width: 2px;
        border-style: solid;
        border-radius: 5%;
        box-shadow: 5px 5px 9px 5px#b6b6b6;
    }
}

.foter{
    text-align: center;
    height: 30px;
    padding: 0.5rem 0;
    background-color: rgb(117, 117, 117);

}
